%h1 StaticPages#home
%p Find me in app/views/static_pages/home.html.haml
%row
  %aside
    Hello world!
  .span8
    %table.table.table-striped
      %tbody
        - @listings.each do |listing|
          %tr
            %td= image_tag(listing.images.first.filename)
            %td= link_to listing.title, listing_path(listing)
            %td= listing.street
            %td= listing.short_description[0..120].chomp("\.")
            %td= listing.city
            %td= listing.state