%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-vertical", :html => {:multipart => true}}) do |f|
    = f.error_notification
    = f.input :name, :autofocus => true
    = f.input :email, :required => true
    = f.input :
    = f.input :password, :require => true
    = f.input :password_confirmation, :require => true
    = f.button :submit, "Sign up", :class => "btn-primary"
    = render "devise/shared/links"