%tr.row
  %td.span2= image_tag(listing.images.first.filename)
  %td
    %row
      %strong.span6
        = link_to listing.title, listing_path(listing)
      %strong.span6.text-right  
        = "$" + listing.price.to_s
    %row
      %p
        = listing.street
        %br
        = listing.city + ', ' + listing.state.name + ' ' + listing.postcode.to_s
    %row
      %p= listing.short_description[0..120].chomp('.')