%tr
  .row
    %td.span2= image_tag(listing.images.first.filename)
    %td
      %row
        %strong.span6
          = link_to listing.title, listing_path(listing)
        %strong.text-right  
          = "$" + listing.price.to_s.slice(/$?[0-9]+/)
      %row
        %p
          = listing.street
          %br
          = listing.city + ', ' + listing.state.name + ' ' + listing.postcode.to_s
      %row
        %p= listing.short_description[0..120].chomp('.')
      %row
        - if user_signed_in? && current_user.has_role(:admin)
          = link_to t('.featured', :default => t("helpers.links.featured")), listing_path(listing, :listing => {:featured => true}), :method => :put, :class => 'btn btn-mini'
          = link_to t('.public', :default => t("helpers.links.public")), edit_listing_path(listing), :class => 'btn btn-mini'
          .pull-right
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_listing_path(listing), :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), listing_path(listing), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
    / # -if user_signed_in? && current_user.has_role?(:admin)

    / # - else
    / #     %td= ""