= link_to "Country Places Inc.", root_path, :class => 'brand'
%ul.nav.pull-right
  %li
    = link_to 'Home', root_path
  %li
    = link_to 'Listings', listings_path
  %li
    = link_to 'Financing', financing_path
  %li
    = link_to 'About Us', about_path
  %li
    = link_to 'Contact Us', contact_path  
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method => 'delete'
    %li
      = link_to 'Account Settings', edit_user_registration_path(:id => current_user.id)